<!DOCTYPE html>
<html lang="en">
<head>
    <title>Revenue Prediction</title>
    <link rel="stylesheet" href="/static/w3.css">
</head>
<body>

<div class="w3-display-container" >
  <img src="/static/images/movie1.jpg" style="width:100%">
<div class="w3-display-topleft w3-container w3-padding-32 w3-text-sand">
 <h3 id="result">Your Movie's {{prediction_text}}</h3>
     
        <form action="/home" method="get">
        <br><br><button type="submit">Return to Home Page</button>
        </form>
   </div> 
  </div>  
 </div>  
</body>
</html>